---
import MainLayout from '../Layouts/MainLayout.astro';
const { id } = Astro.params;
---

<MainLayout title={id} ogImage="https://us.123rf.com/450wm/shushanto/shushanto2209/shushanto220900703/191842443-imagen-de-fondo-de-la-ilustraci%C3%B3n-del-arte-conceptual-de-la-destrucci%C3%B3n-de-los-planetas.jpg" >
  <div class='px-3 mt-[10px] flex flex-col gap-3'>
    <h1>Hello dynamic route {id} </h1>
    <a href="/">
      <img class='rounded-[10px] w-[50%] h-full' src="https://us.123rf.com/450wm/shushanto/shushanto2209/shushanto220900703/191842443-imagen-de-fondo-de-la-ilustraci%C3%B3n-del-arte-conceptual-de-la-destrucci%C3%B3n-de-los-planetas.jpg" alt="imagen" transition:name='imagen' >
    </a>
  </div>
</MainLayout>