---
import MainLayout from '../Layouts/MainLayout.astro';
import CustomModal from '../ReactComponents/CustomModal';
---

<MainLayout title='About' description='About page' >
  <div class='w-full h-[100vh] flex flex-col justify-center items-center gap-3 ' >
    <h1>Hi from about</h1>
    <a href="/">
      <button class='bg-gray-400 p-2 rounded' >Go to home</button>
    </a>
    <CustomModal client:load />
  </div>

</MainLayout>