---
import MainLayout from '../Layouts/MainLayout.astro';
import App from '../ReactComponents/App';
import Example from '../ReactComponents/Example.tsx'
import { ChakraProvider } from '@chakra-ui/react'

---

<MainLayout title='Astro' >
  <div class='w-full h-[100vh] flex flex-col items-center justify-center ' >

    <h1>Hi From home!</h1>
    <App client:load />
    <a href="/about">
      <button  class='bg-gray-400 p-2 rounded'>
        Acerca de
      </button>
    </a>
  </div>
</MainLayout>