---
import MainLayout from '../Layouts/MainLayout.astro';
import { getSession } from 'auth-astro/server';
import { Button } from '@/components/ui/button'

const session = await getSession(Astro.request);
---

<MainLayout title="User">
  <div class='flex flex-col gap-3 p-4'>

    {
      session ? (
        <div class='flex gap-2 items-center'>
          <img src={session.user?.image} alt={session.user.name + '-profile'} width='32px' height='32px' class='rounded' />
          <p>Bienvenido {session.user?.name}</p>
        </div>
      ) : (
        <p>No ha iniciado sesi贸n</p>
        <div class='flex gap-2'>
          <p>Inicia sesi贸n aqui: </p>
          
          <a href="/login" class='text-blue-500'>Iniciar sesi贸n</a>
        </div>
      )
    }

    {
      session && (
      <div class='w-[max-content]'>
        <Button id="signOut" type="button">Cerrar sesi贸n</Button>
      </div>
      )
    }
  
</div>

</MainLayout>

<script>
import { $ } from '../lib/dom-selector';

      const { signOut } = await import("auth-astro/client");

      const $signOut = $('#signOut');

      $signOut.onclick = async () => {
        signOut();
        // location.reload();
      };

</script>