---
import MainHead from './MainHead.astro';

const title = 'My Astro Blog'
const description = 'My first web blogs with astro'
---

<html lang="en">
	<MainHead {title} {description} />
	<body>
		<slot>Default text</slot>
	</body>
</html>
